@import 'tailwindcss';

:root {
	--black: #000000;
	--white: #ffffff;
	--neutral-500: #71717a;
	--neutral-300: #d4d4d8;
}

body {
	color: var(--black);
	background: var(--white);
	font-family: Arial, Helvetica, sans-serif;
}

@theme {
	/* colors */
	--color-foreground: var(--black);
	--color-background: var(--white);
	--color-neutral-500: var(--neutral-500);
	--color-neutral-300: var(--neutral-300);

	/* border widths */
	--border-3: 3px;

	/* animation */
	--animate-spinner: spinner-rotation 0.7s linear infinite, spinner-color 1s ease-in-out infinite;

	/* keyframes */
	@keyframes spinner-color {
		0%, 100% {
			color: var(--color-neutral-500);
		}
		50% {
			color: var(--color-neutral-300);
		}
	}

	@keyframes spinner-rotation {
		0%   { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}
